* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and paragraphs */

h1, h2, h3 {
    color: #93B5C6;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
}

h2, h3 {
    text-align: center;
    font-weight: bold;
}

p {
    font-family: "Work Sans", sans-serif;
    line-height: 1.8;
    margin: 20px 0;
    color: #808080;
}

/* Navigation */

header {
    border-bottom: 0.3px solid #C9CCD5;
    position: fixed;
  top: 0;
  width: 100%
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #FFE3E3;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#logo i {
    font-size: 230%;
    color: #93B5C6;
    display: flex;
    justify-content: center;
}

h1 {
    color: #93B5C6;
}
#menu > li {
    padding: 40px 50px 30px 30px;
    list-style-type: none;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #93B5C6;
    text-transform: uppercase;
    font-weight: bold;
}

#menu > li a:hover {
    color: #93B5C6;
}

.active {
    border-bottom: 1px solid #93B5C6;
}

/* Main Sections */

section {
   margin: 40px 230px;
}

img {
    width: 100%;
    height: 500px;
}

#intro {
    margin-top: 150px;
}
/* Types of Mindfulnes */

#types-container {
    text-align: center;
}

#types-container > h2 {
    text-align: center;
}

#type {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

#type > div {
    width: 33%;
    height: 33%;
    margin: 0;
}

#type > div > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 30px;
}

#type > div > p {
    text-align: center;
    padding: 5px 30px;
}

/* Benefits section */

#benefits {
    display: flex;
    justify-content: space-around;
}

#benefits > div {
    width: 47%;
    margin: 10px;
}

#benefits > div > img {
    width: 100%;
    height: auto;
    padding: 10px;
}


/* 8 Facts */

#facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#facts > div {
    width: 47%;
    margin: 5px;
}

#facts > div > img {
    height: 50%;
    width: 100%;
    padding: 10px;
}

/* Meditation */

#meditation {
    display: flex;
    justify-content: space-around;
}

#meditation > div {
    width: 47%;
    height: auto;
    padding: 10px;
}

#meditaion > div > img {
    margin-top: 20px;
    max-width:100%;
    max-height: auto;
}

/* Video */

#final > q {
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #93B5C6;
    font-style: italic;
    font-size: 3.5rem;
}

#final p {
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
}

#video {
    display: flex;
    justify-content: center;
    /* align-items: baseline;
    flex-wrap: wrap; */
}

#video > iframe {
    width: 560px;
    height: 315px;
}

/* Footer */

footer {
    height: 250px;
    background-color: #93B5C6;
    color: white;   
}

footer > p{
    text-align: center;
    margin-bottom: 2px;
}

#social > li {
    list-style-type: none;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

#social > li > a > i {
    font-size: 170%;
    margin-top: 50px;
    /* padding: 2%; */
    color: #FFE3E3;
    margin-left: 25px;
}

#social > li > a > p {
    justify-content: center;
    font-size: 80%;
    color: #FFE3E3;
}


/********************** Techniques Page ***********************/

/*  Techniques List */

#techniques-list h2 {
    color: #93B5C6;
    text-transform: uppercase;
    font-size: 170%;
    margin-bottom: 30px;
}

#techniques-list > ul {
    display: flex;
    justify-content: space-around;
    color: #93B5C6;
    list-style-type: none;
}

#techniques-list > ul > li > a > i {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 160%;
    color: #C9CCD5;
    margin: 15px;
}

/* Meditation */

#meditation-technique > iframe {
    width: 560px;
    height: 315px;
}

#meditation-technique > p > a {
    color: #93B5C6;
}

#journal-technique ol > li {
    display: flex;
    justify-content: center;
}

/* Mindful eating */

#mindful-eating-technique ul {
    margin-left: 150px;
}

#mindful-eating-technique > iframe {
    width: 560px;
    height: 315px;
    display: block;
    margin: 0 auto;
}

/* Long Walks */

#long-walks ul {
    margin-left: 150px;
}

/* Mindful sports */

#mindful-sports > iframe {
    width: 560px;
    height: 315px;
    display: block;
    margin: 30px auto;
}

#mindful-sports {
    margin-bottom: 200px;
}


/********************** Community ***********************/

/* Events section */

#events-section {
    margin-top: 150px;
}

#events  {
    display: flex;
    justify-content: space-between;
}

#events > div {
    border: 3px solid #E4D8DC;
    padding: 30px;
    width: 30%;
    margin: 10px;
}

#events > div > p {
    text-align: center; 
    background:rgba(255,255,255, 0.7);
}

#events > div > h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #93B5C6;
    padding-bottom: 5px;
    background:rgba(255,255,255, 0.7);
    font-size: 160%;
}

#yoga {
    background-image: url(/assets/images/yoga.jpg);
    background-repeat: no-repeat;
    background-size: 300px auto;
}

#meet {
    background-image: url(/assets/images/meet.jpg);
    background-repeat: no-repeat;
    background-size: 300px auto;
}

#meditate-together {
    background-image: url(/assets/images/meditate-together.jpg);
    background-repeat: no-repeat;
    background-size: 300px auto;
}

/* Sign-up for newsletters */

#form h3 {
    color: #93B5C6;
    text-transform: uppercase;
    font-size: 170%;
}

input {
    border: 1px solid #93B5C6;
    width: 90%;
    border-radius: 15px;
    padding: 15px;
    margin: 15px auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px;
}

label {
    font-family: "Work Sans", sans-serif;
    color: #93B5C6;
}

button {
    border: 2px solid #C9CCD5;
    background-color: #FFE3E3;
    width: 50%;
    border-radius: 15px;
    padding: 15px;
    margin: 15px auto;
    font-family: "Work Sans", sans-serif;
    color: #93B5C6;
    text-transform: uppercase;
}