* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and paragraphs */

h1 {
    color: #404040;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Work Sans", sans-serif;
}

/* Navigation */

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #FFE3E3;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #404040;
    font-size: 300%;
    padding: 20px 30px;
}

#menu > li {
    padding: 50px 40px 30px 40px;
    list-style-type: none;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #404040;
    text-transform: uppercase;
}

#menu > li a:hover {
    color: #93B5C6;
}

.active {
    border-bottom: 1px solid #93B5C6;
}

